<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.custom">

	<insert id="write" parameterType="com.board.domain.CustomVO">
 		insert into
 			custom(busi_num, custom, short, ceo, charge_person, busi_condition, item, post_num, addr1, addr2, tel, fax, homepage, co_yn, foreigen_yn, tax_yn, country_eng, country_kor, special_relation, trade_stop, contract_period_s, contract_period_e, regi_info_man, regi_info_date, modi_info_man, modi_info_date)
 				VALUES(#{busi_num}, #{custom}, #{Short}, #{ceo}, #{charge_person}, #{busi_condition}, #{item}, #{post_num}, #{addr1}, #{addr2}, #{tel}, #{fax}, #{homepage}, #{co_yn}, #{foreigen_yn}, #{tax_yn}, #{country_eng}, #{country_kor}, #{special_relation}, #{trade_stop}, #{contract_period_s}, #{contract_period_e}, #{regi_info_man}, #{regi_info_date}, #{modi_info_man}, #{modi_info_date})
	</insert>
</mapper>